html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff;
}

html {
  max-width: 1500px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #090b1a;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin: 0;
}

h1 span {
  color: #aa5cdb;
}

p {
  font-family: "Lexend Deca", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
}

.card {
  width: 50%;
  background-color: #1b1938;
  padding: 5rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card .parag {
  opacity: 0.5;
  width: 80%;
  line-height: 1.7rem;
}

.card .stats {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.card .stats p {
  opacity: 0.5;
  font-size: 0.8rem;
  margin: 0;
}

.img_bg {
  width: 50%;
  background-image: url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(170, 92, 219, 0.7);
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 600px) {
  body {
    text-align: center;
  }
  .container {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .card,
  .img_bg {
    width: 100%;
  }

  .card {
    padding: 2rem;
  }

  .card .parag {
    width: 90%;
    margin: 0 auto;
  }

  .card .stats {
    flex-direction: column;
    margin: 5rem auto;
  }

  .card .stats div {
    margin-top: 3rem;
  }

  .img_bg {
    height: 20rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
  }
}
